{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "react/no-unused-prop-types": [2, {"skipShapeProps": true}],
    "no-underscore-dangle": ["error", { "allow": [ "_id", "_sleepForMs" ] }],
    "array-bracket-spacing": 0,
    "curly": 0,
    "semi": 0,
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
    "generator-star-spacing": 0
  }
}
